@use 'abstracts/mixins';
@use "abstracts/variables";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    @include mixins.generate-css-variables(variables.$colors, 'clr');
    @include mixins.generate-css-variables(variables.$spacing, 'spacing');
    @include mixins.generate-css-variables(variables.$font-sizes, 'fs');

    --ff-sans-serif: 'Poppins', sans-serif;

    --clr-body: var(--clr-neutral-100);
    --ff-body: var(--ff-sans-serif);
}

body {
    background-color: var(--clr-body);
    font-family: var(--ff-body);
    font-size: var(--fs-400);
}

:is(a, button, input, textarea, summary, .focusable):focus {
    outline:
      var(--outline-size, max(2px, 0.08em))
      var(--outline-style, solid)
      var(--outline-color, var(--clr-neutral-900));
    outline-offset: var(--outline-offset, 0.6rem);
}
