$colors: (
    'neutral-900': #02040F,
    'neutral-800': #070D33,
    'neutral-100': #F4F7F5,
);

$spacing: (
    128: 12.8rem,
    120: 12rem,
    96: 9.6rem,
    80: 8rem,
    64: 6.4rem,
    56: 5.6rem,
    48: 4.8rem,
    40: 4rem,
    36: 3.6rem,
    32: 3.2rem,
    24: 2.4rem,
    20: 2rem,
    12: 1.2rem,
    8: 0.8rem,
    4: 0.4rem,
);

$font-sizes: (
    1100: 5.4rem,
    1000: 4.8rem,
    900: 4rem,
    800: 3rem,
    700: 2.4rem,
    600: 2rem,
    500: 1.8rem,
    400: 1.6rem,
    300: 1.2rem,
);